<!-- <!DOCTYPE html>
<html>
<body>

<h1>JavaScript String Methods</h1>
<p>Display the first array element, after a string split:</p>

<p id="demo"></p>

<script>
let text = "a,b,c,d,e,f";
const myArray = text.split(" ");
document.write(myArray);
</script>

</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
   <script>
    const names = "John,Doe,Jane,Smith";
const nameArray = names.split(',');
document.write(nameArray);
console.log(nameArray)

// Output: ["John", "Doe", "Jane", "Smith"]

   </script>
</head>
<body>
    
</body>
</html>